.episode-content-editable{
    min-width: 30px;
    display: inline-block;
    text-align: center;
}
[contenteditable=true]:empty:before { 
    content: attr(placeholder); 
    display: inline-block; 
    color: #aaa; 
}